In [3]:
nama = "kevin"
umur = 19
tinggi = 1.70
print(f"nama saya {nama}, umur {umur} tahun, tinggi {tinggi} meter")

nama saya kevin, umur 19 tahun, tinggi 1.7 meter

In [4]:
a = "100"
b = 50

int_a = int(a)
hasil = int_a + b

print(int_a)
print(hasil)

100
150

In [5]:
x = 3.14

int_x = int(x)
string_x = str(x)
bool_x = bool(x)

print(int_x, string_x, bool_x)

3 3.14 True

In [6]:
angka_str = "250"
angka_float = 12.75
angka_jumlah = 100

angka_int = int(angka_str)
jumlah = angka_int + angka_jumlah
angka_int2 = int(angka_float)

print(angka_int); print(jumlah); print(angka_int2)

250
350
12

In [ ]:
laptop = input("apa nama laptop mu ?")
harga = int(input("berapa harganya ?"))
print(f"nama laptop ku yaitu {laptop}, dengan harga {harga}")

In [10]:
nama_barang = input("apa nama barang mu ?")
harga = int(input("berapa harga nya ?"))

gabungan = "yang kamu beli adalah " + nama_barang + " dengan harga " + str(harga)  
print(gabungan)

yang kamu beli adalah asus dengan harga 100000000

In [21]:
nama = "kevin"
hasil = len(nama)
print(f"nama aku {nama} dan panjang nya {hasil}")

nama aku kevin dan panjang nya 5

In [23]:
nama = "web developer"
print(nama[-1])

r

In [ ]:
teks = "kuliah bareng"
print(teks[:])

u

In [ ]:
nama = "samuel"
print(nama.capitalize())

Samuel

In [37]:
nama = "kevin naths"
print(nama.count("s"))

1

In [39]:
teks = "aku sayang kamu"
print(teks.replace("kamu", "yanto"))

aku sayang yanto

In [ ]:
angka = int(input("masukkan angka : "))

if angka % 2 == 0:
  print("genap")
else:
  print("ganjil")

genap

In [ ]:
usia = int(input("masukkan usia anda : "))

if usia <= 12:
  harga_tiket = 30000
elif  12 <= usia <= 17:
  harga_tiket = 40000
else:
  harga_tiket = 50000

print(f"harga tiket anda : {harga_tiket}")

harga tiket anda : 40000

In [51]:
kendaraan = input("kendaraan anda (mobil / motor) ?")
jam = int(input("lama parkir : "))

if kendaraan == "motor":
  biaya_parkir = jam * 2000
elif kendaraan == "mobil":
  biaya_parkir = jam * 5000
else:
  print("tidak valid")
  
print(f"biaya : {biaya_parkir}")

biaya : 30000

In [52]:
total_belanja = int(input("total belanja :"))

diskon = 0
if total_belanja >= 500.000:
  diskon =  0.20
elif total_belanja >= 250000:
  diskon =  0.10
else:
  diskon = 0

harga_diskon = total_belanja * diskon
total_keseluruhan = total_belanja - harga_diskon

print(f"total biaya keseluruhan : {total_keseluruhan}")

total biaya keseluruhan : 160000.0

In [57]:
angka = int(input("masukkan angka anda :"))
angka_rahasia = 7

if angka == angka_rahasia:
  print("selamat, tebakan anda benar")
elif angka < angka_rahasia:
  print("angka anda terlalu kecil")
else:
  print("angka anda terlalu besar")

angka anda terlalu kecil

In [59]:
angka_rahasia = 15
kesempatan = 4

for i in range(kesempatan):
  angka = int(input("masukkan angka : "))
  
  if angka == angka_rahasia:
    print("selamat tebakan benar")
  else:
    print("tebakan salah")

if angka != angka_rahasia:
  print("kesempatan telah habis coba lagi nanti")

tebakan salah
tebakan salah
tebakan salah
tebakan salah
kesempatan telah habis coba lagi nanti